/LearningBoxToDictionaryIntegration.ecore
/LearningBoxToDictionaryIntegration.genmodel
/LearningBoxToDictionaryIntegration.injection.xmi
/LearningBoxToDictionaryIntegration.pre.ecore
/LearningBoxToDictionaryIntegration.pre.tgg.xmi
/LearningBoxToDictionaryIntegration.sma.xmi
/LearningBoxToDictionaryIntegration.tgg.xmi
